absl-py==1.2.0
altair==4.2.0
api==0.0.7
bayesian-optimization==1.2.0
dill==0.3.4
Flask==2.2.2
Flask-RESTful==0.3.9
flatbuffers==1.12
fpdf==1.7.2
future==0.18.2
gensim==4.2.0
gitdb==4.0.9
GitPython==3.1.27
gunicorn==20.1.0
imbalanced-learn==0.9.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
JsonForm==0.0.2
jsonschema==4.4.0
JsonSir==0.0.2
lightgbm==3.3.2
lime==0.2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
numpy==1.22.2
pandas==1.4.1
pandas-flavor==0.3.0
pdfkit==1.0.0
pdfrw==0.4
pi==0.1.2
py==1.11.0
PyPDF3==1.0.6
requests==2.27.1
requests-oauthlib==1.3.1
Resource==0.2.1
scikit-learn==1.1.2
scipy==1.8.0
seaborn==0.11.2
sklearn==0.0
statsmodels==0.13.2
streamline==1.0.5
streamlit==1.12.2
tabulate==0.8.9
transformers==4.21.1
typer==0.4.0
uritools==4.0.0
urllib3==1.26.8
validators==0.20.0
wkhtmltopdf==0.2
xgboost==1.6.2
xhtml2pdf==0.2.8
